
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');
.jersey-20-regular {
  font-family: "Jersey 20", sans-serif;
  font-weight: 200;
  font-style: normal;
}

@import url('https://fonts.cdnfonts.com/css/hermeneus-one');
.hermeneus-one{
  font-family: 'hermeneus-one';
  font-weight: 200;
  font-style: normal;
}
*{scroll-behavior: smooth;
      font-size: 1.5rem;
      margin: 0;
      background-color: #5e5e5e;
 }

header {
  background: #7EA6C4;
  
  height: auto;
  text-align: center;
  color: black;
  font-size: 10rem;
 /* margin-left: -6%;
  margin-top:  -5%;*/
  padding-top: 2%;
}


 h1{ 
      text-align:center;
      font-size: 5rem;
      font-family: 'Jersey 20', sans-serif;
      src: url('/fonts/Jersey20-Regular.ttf');
    }
  body{background-color: #5e5e5e;}
   
  p{
    font-family: 'hermeneus-one', serif;
    src: url('/fonts/HermeneusOne-Regular.ttf');
    font-size:  1.2rem;
    line-height: 1.25;
    word-spacing: -15%;
    margin-left: 2%;
    color:black
    
}
  .image-container {
    position: relative; /* set container to a relative position */
    margin-left:2% ;
    margin-right: 40%;
    /* width: 100%; /* set your desired width */
  /*  height: auto; /* set your desired height */
    
}
img{
width: 100%;  
}
  /*https://www.shecodes.io/athena/9033-how-to-add-a-button-on-an-image-with-html-css*/
  button {
   position: absolute; /* set button to an absolute position */
   top: 90%; /* adjust the top position of the button */
   left:0; /* adjust the left position of the button */
   transform: translate(0%, 0%); /* center the button */
   z-index: 2; /* set a higher z-index than the image */
   background-color: #7EA6C4; /* set your desired background color */
   color: #fff; /* set your desired text color */
   border: none; /* remove button border */
   width:100% ; /* set the desired width */
   height: 70px; /* set the desired height */
   padding: 1%; /* set your desired padding */
   cursor: pointer; /* change mouse cursor on hover */
   font-family: 'hermeneus-one',serif;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
/*@media screen and (max-width: 300px) {
  .column {
    width: 100%;
  }
}*/


/*.backtotop{
  position: fixed;
  right: 0.5%;
  bottom: 1%;
  font-size: 2rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: pink;
  filter: drop-shadow(20px,20px,20px,green);
  text-align: center;
}
*/
/*this is a comment*/
       